*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.Navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    top: 0;
    left: 0;
    gap: 70px;
}
/*.Right-image{
    display: flex;
    gap: 24px;
    align-items: center;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.Right-image button{
    background: transparent;
    border: none;
    width: 80px;
    height: 30px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}*/
.right-image {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Shared box for tap area */
.icon-box {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Section-three {
  cursor: pointer;
}
/* Icons */
.icon-box i {
    font-size: 16px;
    color: white;
}

/* Hover / Tap effect */
.icon-box:hover {
    background: #000;
    transform: scale(1.05);
}

.icon-box:hover i {
    color: #fff;
}

/* Login button inside box */
.login-box {
    width: auto;
    padding: 0 6px;
    border-radius: 20px;
}

.loginn {
    padding: 8px 18px;
    border: transparent;
    border-radius: 20px;
    background: transparent;
    color: white;
    cursor: pointer;
}

/* Button hover */
.loginn:hover {
    background: transparent;
}
.Nav-btn{
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.Nav-btn:hover{
    opacity: 0.7;
}
.loginn:hover{
    opacity: 0.7;
}
.logo1 span{
    color: goldenrod;
    font-size: 25px;
}
.logo1 i{
    color: gold;
}
.Writeups{
    color:black;
    text-align: center;
    padding-top: 50px;
}
.Writeups p{
    padding-top: 20px;
}
.ShopNow{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.ShopNow button{
    border-radius: 12px;
    width: 100px;
    height: 40px;
    color: black;
    border: transparent;
    background-color: white;
    margin-bottom: 60px;
    cursor: pointer;
}
.ShopNow button:hover{
    opacity: 0.8;

}

.drop{
    text-align: center;
    color: white;
    border-radius: 50%;
    padding-bottom: 100px;
}
.bigbody{
    background-image: url("/photo-1691036561573-4b76998b60de.jpeg");
    object-fit: cover;
}
.Second-part h2{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
}
.Second-part{
    background: #f8f6f4;
    padding-bottom: 30px;
}
.Second-two{
    display: flex;
    gap: 30px;
    justify-content: center;
    line-height: 4.4;
}
.Second-three h3{
    margin-bottom: 20px;
}
.Second-two img{
    width: 700px;
    height: 100%;
    object-fit: cover;

}
.Section-three h2{
    text-align: center;
    margin-top: 30px;
}
.Section-five h2{
    text-align: center;
}
/* .Section-four button{
    border-radius: 6px;
    color: black;
    background-color: white;
    border: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
} */
.See-more{
    justify-content: center;
    align-content: center;
}
.Section{
    padding: 50px;
    text-align: center;
}
.Grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.Card{
    padding: 60px;
    border-radius: 10px;
    position: relative;
    border: 1px, solid, black;
}
.Badge{
   position: absolute;
   top: 15px;
   left: 15px;
   background: transparent;
   padding: 4px 10px;
   border-radius: 20px;
   font-size: 12px;
   border: 1px solid white;

}
.Colour{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 6px;
}
.Colour span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(9, 167, 17);
}
.Colour span:nth-child(1){
    background: #000;
}
.Colour span:nth-child(2){
    background: black;
}
.Colour span:nth-child(3){
    background: blue;
}
.Colour span:nth-child(4){
    background: purple;
}
.Card img{
    width: 100%;
    width: 160px;
    object-fit: contain;
    margin: 20px 0;
}
.Card h3{
    font-size: 12px;
    margin: 10px 0;
}
.Card button{
    border: none;
    padding: 8px 14px;
    border-radius: 20px;
    background: rgb(158, 145, 145);
    cursor: pointer;
    /* margin-left: 300px; */
    
}
.Price{
    font-weight: bold;
    margin-bottom: 10px;
}
.See-more{
    margin-top: 40px;
    padding: 10px 24px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}
.Section-five h2{
    margin-top: 20px;

}
.Section-five p{
    text-align: center;
    margin-top: 15px;
}
.Image1{
    background-image: url("./istockphoto-1045966674-612x612.jpg");
}
.Image2{
    background-image: url("/photo-1691036561573-4b76998b60de.jpeg");
}
.Image3{
    background-image: url("/premium_photo-1670076513880-f58e3c377903.jpeg");
}
.Image4{
    background-image: url("/boss-chair-640x640.jpg");
}
.Image-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 250px) 300px;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}
.Living{
    grid-row: 1 / 3;
}
.Office{
    grid-column: 1 / -1;
}
.Cards{
    position: relative;
    border-radius: 16px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
}
.Cards::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
}
Cards * {
    position: relative;
    z-index: 1;
}
.Living{
    background-image: url("./istockphoto-1045966674-612x612.jpg");
}
.Bedroom{
    background-image: url("/photo-1651132205872-091b35e72b15.jpeg");
}
.Dinning{
    background-image: url("/premium_photo-1670076513880-f58e3c377903.jpeg");
}
.Office{
    background-image: url("/boss-chair-640x640.jpg");
}
.Image-section button{
    width: fit-content;
    padding: 10px 16px;
    border-radius: 20px;
    border: none;
    background: white;
    color: black;
    font-weight: 500;
    cursor: pointer;
    margin-top: 5px;
}
.Features{
    margin: auto;
    text-align: center;
    background: #f8f6f4;
    padding: 80px 20px;
}
.Title{
    font-size: 2rem;
    margin-bottom: 60px;
    text-align: center;
}
.Grid2{
    display: grid;
    grid-template-columns: 1fr 360px 1fr;
    grid-template-rows: auto auto;
    gap: 60 40px;
    column-gap: 80px;
    row-gap: 60px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.Apart-img{
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
}
.Apart-img img{
    width: 100%;
    height: 520px;
    max-width: 380px;
    object-fit: cover;
    border-radius: 220px;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.Feature h3{
    margin-bottom: 10px;
    font-size: 18px;
}
.Feature p{
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}
.Last-section{
    backdrop-filter: blur(3px);
    padding-top: 120px;
    padding-bottom: 60px;
    text-align: center;
    border-radius: 20px;
   
}
.Last-section h2{
    margin-bottom: 40px;
}
.Last-section button{
    margin-top: 40px;
    width: 120px;
    height: 40px;
    margin-bottom: 30px;
    border: none;
    background: white;
    color: black;
    border-radius: 16px;
    cursor: pointer;
}
.Last-section button:hover{
    opacity: 0.8;
}
.Section-last{
    background-image: url("./premium_photo-1683121150169-4b0f6c92a3ac.jpeg");
    border-radius: 10px;
} 
.Last-section h2{
    color: black
}
.Last-section p{
    color: black
}
.FAQ{
    padding: 80px 20px;
    background: #faf9f7;
    text-align: center;
}
.FAQ h2{
    font-size: 32px;
    margin-bottom: 10px;
}
.subtitle{
    color: #888;
    margin-bottom: 30px;
}
.Contact2{
    background: #000;
    color: #fff;
    border: none;
    padding: 14px 32px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 60px;
}
.Contact2:hover{
    opacity: 0.7;
}
.FAQ-grid{
    max-width: 0 auto;
    gap: 20px 30px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.Items3{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 14px;
    padding: 18px 22px;
    text-align: left;
}
.Items3 summary{
    font-size: 15px;
    cursor: pointer;
    list-style: none;
    position: relative;
    padding-right: 30px;

}
.Items3 summary::-webkit-details-marker{
    display: none;
}
.Items3 summary::after{
    content: "🔽";
    position: absolute;
    right: 0;
    font-size: 18px;
    transition: transform 0.3;
}
.Items3[open] summary::after{
    transform: rotate(180deg);
}
.Items3 p{
    margin-top: 15px;
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}
.Card{
    transition: transform 0.7s ease;
}
.Card:hover{
    transform: translateY(-10px);
}
.Cards{
    transition: transform 0.4s ease;
}
.Cards:hover{
    transform: translateY(-10px);
}
.Feature{
    transition: transform 0.4s ease;
}
.Feature:hover{
    transform: translateY(-10px);
}
.Items3{
    transition: transform 0.4s ease;
}
.Items3:hover{
    transform: translateY(-10px);
}
/* ===== ANIMATION ===== */
.fade {
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== RESPONSIVE ===== */
@media (max-width: 400px) {
  .Navigation {
    flex-direction: column;
    gap: 20px;
  }

  .Second-two {
    flex-direction: column;
  }

  .Grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 401px) and (max-width: 700px) {
  .Grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 701px) and (max-width: 1200px) {
  .Grid {
    grid-template-columns: repeat(3, 1fr);
  }
}